[submodule "src/main/java/grammar"]
	path = src/main/java/grammar
	url = https://github.com/omp4j/grammar.git
[submodule "src/main/java/runtime"]
	path = src/main/java/runtime
	url = https://github.com/omp4j/runtime.git
